<div class="employeeHome">
    <div class="col-md-3 emloyeeNav">
        <div class="employeeNav_header">
            <h1 class="employeeNav_header_title">Employee panel</h1>
        </div>
        <nav class="employeeNav_content">
            <a class="nav_link" routerLink="/employeepanel"><fa-icon [icon]="faHomeIcon"></fa-icon> Home</a>
            <a class="nav_link" routerLink="/employeepanel/rooms"><fa-icon [icon]="faDoorIcon"></fa-icon> Pokoje</a>
        </nav>
    </div>
    <div class="col-md-9 emloyeeHomePage">
        <div class="employeeHomePage_header">
            <a routerLink="/">
                <p>Strona główna Memories Palace</p>
            </a>
        </div>
        <div class="employeeHomePage_content">
            <h1 style="font-size: 20px;">{{userHotel}}</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rent</th>
                        <th scope="col">Room_id
                        </th>
                        <th scope="col">Type</th>
                        <th scope="col">Dostępność</th>
                    </tr>
                </thead>
                <ng-template ngFor let-room [ngForOf]="roomsList">
                    <tbody style="font-size: 20px;">
                        <tr>
                            <th scope="row">{{room.number}}</th>
                            <td>{{room.rent}}</td>
                            <td>{{room.room_id}}</td>
                            <td>{{room.type}}</td>
                            <td *ngIf="room.isFree === true"
                                (click)="EditRoomIsFree(room.room_id, room.description, room.number, room.type, room.isFree)"
                                style="color: green; cursor: pointer;"><fa-icon [icon]="faCheckIcon"></fa-icon>
                            </td>
                            <td *ngIf="room.isFree === false"
                                (click)="EditRoomIsFree(room.room_id, room.description, room.number, room.type, room.isFree)"
                                style="color: red; cursor: pointer;"><fa-icon [icon]="faExclamationIcon"></fa-icon></td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>
</div>