<div class="footer">
    <div class="container">
        <div class="footer_inner">
            <a class="header_logo_link" href="/">
                <img class="header_logo_link_img" src="/assets/Logo/MemoriesPalaceLogo.png" alt="HotelLogo">
                <h1>Memories Palace Hotels</h1>
                <div class="footer_logos">
                    <a href="/"><img class="footer_logo" src="\assets\Icons\instagram.png" alt=""></a>
                    <a href="/"><img class="footer_logo" src="\assets\Icons\twitter.png" alt=""></a>
                    <a href="/"><img class="footer_logo" src="\assets\Icons\messenger.png" alt=""></a>
                </div>
            </a>
        </div>
    </div>
</div>