<div>
    <app-header></app-header>
</div>


<div style="padding-top: 150px;">
    <h1 style="display: flex; justify-content: center; font-size: 50px;">Moje płatności</h1>
    <div class="container" style="font-size: 18px;">
        <table class="table table-hover smt-3 mt-5">
            <thead class="thead-light">
                <tr>
                    <th>Nazwa hotelu</th>
                    <th>Typ pokoju</th>
                    <th>Numer pokoju</th>
                    <th>Właściciel karty</th>
                    <th>Numer karty</th>
                    <th>Zapłacono</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-payment [ngForOf]="paymentsList">
                    <tr style="cursor: pointer;">
                        <td>{{payment.booking.room.hotel.title}}</td>
                        <td>{{payment.booking.type}}</td>
                        <td>{{payment.booking.room.number}}</td>
                        <td>{{payment.cardOwnerName}}</td>
                        <td>{{payment.cardNumber}}</td>
                        <td style="color: green;">{{payment.valueOfPayment}} PLN</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>