<div class="galery">
    <div class="galery_inner">
        <div class="container">
            <div class="galery_title">
                Twoje #MemoriesMoments
            </div>
        </div>
        <div class="galery_inner_row">
            <div class="galery_item">
                <img class="galery_photo" src="\assets\img\galery\hotel-bell.jpg" width="" height="">
                <div class="galery_info">
                    <h3 class="galery_info_title">
                        Obserwuj nas
                    </h3>
                    <div class="galery_info_icons">
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\instagram.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\twitter.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\messenger.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="galery_item">
                <img class="galery_photo" src="\assets\img\galery\hotel-relax.jpg" width="" height="">
                <div class="galery_info">
                    <h3 class="galery_info_title">
                        Obserwuj nas
                    </h3>
                    <div class="galery_info_icons">
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\instagram.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\twitter.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\messenger.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="galery_item">
                <img class="galery_photo" src="\assets\img\galery\hotel-woman.jpg" width="" height="">
                <div class="galery_info">
                    <h3 class="galery_info_title">
                        Obserwuj nas
                    </h3>
                    <div class="galery_info_icons">
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\instagram.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\twitter.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\messenger.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="galery_item">
                <img class="galery_photo" src="\assets\img\galery\hotel-reception.jpg" width="" height="">
                <div class="galery_info">
                    <h3 class="galery_info_title">
                        Obserwuj nas
                    </h3>
                    <div class="galery_info_icons">
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\instagram.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\twitter.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\messenger.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="galery_inner_row">
            <div class="galery_item">
                <img class="galery_photo" src="\assets\img\galery\hotel_lobby.jpg" width="" height="">
                <div class="galery_info">
                    <h3 class="galery_info_title">
                        Obserwuj nas
                    </h3>
                    <div class="galery_info_icons">
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\instagram.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\twitter.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\messenger.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="galery_item">
                <img class="galery_photo" src="\assets\img\galery\hotel_room_two.jpg" width="" height="">
                <div class="galery_info">
                    <h3 class="galery_info_title">
                        Obserwuj nas
                    </h3>
                    <div class="galery_info_icons">
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\instagram.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\twitter.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\messenger.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="galery_item">
                <img class="galery_photo" src="\assets\img\galery\hotel_room_one.jpg" width="" height="">
                <div class="galery_info">
                    <h3 class="galery_info_title">
                        Obserwuj nas
                    </h3>
                    <div class="galery_info_icons">
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\instagram.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\twitter.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\messenger.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="galery_item">
                <img class="galery_photo" src="\assets\img\galery\hotel_room_three.jpg" width="" height="">
                <div class="galery_info">
                    <h3 class="galery_info_title">
                        Obserwuj nas
                    </h3>
                    <div class="galery_info_icons">
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\instagram.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\twitter.png" alt=""></a>
                        <a href="/"><img class="galery_info_icon" src="\assets\Icons\messenger.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>