<div class="booking">
    <div class="booking_inner">
        <h1 style="font-family: KaushanScript; font-size: 50px; margin-bottom: 30px;">Rezerwacja pokoju</h1>
        <form action="">
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [min]="minDate" [max]="maxDate" [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate readonly formControlName="start" placeholder="Start date">
                    <input matEndDate readonly formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
        </form>
        <form class="form-autocomplete" style="margin-top: 20px;">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Typ pokoju</mat-label>
                <input type="text" [(ngModel)]="booking.type" ngModel placeholder="Pick one" aria-label="Number"
                    matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <div *ngIf="invalidDateOrType" class="alert alert-danger">Invalid date or type</div>
        <div class="cards-list">

            <div class="card">
                <div class="card_image"> <img src="\assets\img\Pokoje\bedroom-1285156_640.jpg" /> </div>
                <div class="card_title title-white">
                    <p>Dla dwóch osób</p>
                    <p>Dostępnośc: {{countOfTwoPerson}}</p>
                    <p>Cena za 1 noc: {{priceTwoPerson}} PLN</p>
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img src="\assets\img\Pokoje\room-4768554_640.jpg" /> </div>
                <div class="card_title title-white">
                    <p>Dla czterech osób</p>
                    <p>Dostępnośc: {{countOfFourPerson}}</p>
                    <p>Cena za 1 noc: {{priceFourPerson}} PLN</p>
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img src="\assets\img\Pokoje\living-room-4809587_640.jpg" /> </div>
                <div class="card_title title-white">
                    <p>Dla pięciu osób</p>
                    <p>Dostępnośc: {{countOfFivePerson}}</p>
                    <p>Cena za 1 noc: {{priceFivePerson}} PLN</p>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="submitBookingForm()">Wyslij</button>
    </div>
</div>