<div class="motion_content">
    <div class="container">
        <div class="motion_content_inner">
            <img class="motion_content_img col-md-6" src="\assets\img\motion_content\motion_content_img.jpg"
                alt="motion_content_img">
            <div class="motion_content_inner_titles">
                <h1 class="motion_content_title">
                    Twoje nowe wspomnienia
                </h1>
                <h6 class="motion_content_subtitle">
                    Co to znaczy? To znaczy, że czekają Cię niezapomniane przeżycia i wspomnienia, które sprawią, że
                    będziesz chciał odwiedzić nas ponownie.
                </h6>
            </div>
        </div>
    </div>
</div>