<div class="employeeHome">
    <div class="col-md-3 emloyeeNav">
        <div class="employeeNav_header">
            <h1 class="employeeNav_header_title">Employee panel</h1>
        </div>
        <nav class="employeeNav_content">
            <a class="nav_link" routerLink="/employeepanel"><fa-icon [icon]="faHomeIcon"></fa-icon> Home</a>
            <a class="nav_link" routerLink="/employeepanel/rooms"><fa-icon [icon]="faDoorIcon"></fa-icon> Pokoje</a>
        </nav>
    </div>
    <div class="col-md-9 emloyeeHomePage">
        <div class="employeeHomePage_header">
            <a routerLink="/">
                <p>Strona główna Memories Palace</p>
            </a>
        </div>
        <div class="employeeHomePage_content">
            <h1>Witam na stronie głównej twojej narzędzi dla pracy</h1>
        </div>
    </div>
</div>