<header class="header">
    <div class="header_inner raw col-md-12">
        <div class="header_logo_link raw">
            <a routerLink="/">
                <img class="header_logo_link_img col-md-4" src="/assets/Logo/MemoriesPalaceLogo.png" alt="HotelLogo">
            </a>
        </div>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="isDisplayCabinet" (overlayOutsideClick)="isDisplayCabinet = false"
            [cdkConnectedOverlayOffsetY]="-50" [cdkConnectedOverlayOffsetX]="50">
            <div class="header_overlay">
                <h3>Mój profil</h3>
                <ul class="list-group">
                    <h5 style="color: yellow; font-size: 16px; font-weight: bold;">Witam {{AuthorizeUserFirstname}}
                        {{AuthorizeUserLastname}}</h5>
                    <a *ngIf="AuthorizeUserRole === 'Employee' || AuthorizeUserRole === 'Admin' || AuthorizeUserRole === 'Manager'"
                        routerLink="/employeepanel">
                        <li class="list-group-item">Employee panel</li>
                        <fa-icon [icon]="faToolboxIcon" style="color:rgb(25, 0, 255); display: block; padding: 5px; ">
                        </fa-icon>
                    </a>
                    <a routerLink="/myBookings">
                        <li class="list-group-item">Moje rezerwacje</li>
                        <fa-icon [icon]="faBookIcon" style="color:red; display: block; padding: 5px; "></fa-icon>
                    </a>
                    <a routerLink="/myPayments">
                        <li class="list-group-item">Moje płatnośći</li>
                        <fa-icon [icon]="faMoneyIcon" style="color:green; display: block; padding: 5px; "></fa-icon>
                    </a>
                    <a (click)="LogOut()" href="/">
                        <li class="list-group-item">Log out</li>
                        <fa-icon [icon]="faArrowCircleRightIcon"
                            style="color:rgb(255, 255, 255); display: block; padding: 5px; "></fa-icon>
                    </a>
                </ul>
            </div>
        </ng-template>

        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isDisplay"
            (overlayOutsideClick)="isDisplay = false" [cdkConnectedOverlayOffsetY]="-50"
            [cdkConnectedOverlayOffsetX]="-80">
            <div class="header_overlay">
                <h1>Login</h1>
                <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" NgModel class="form-control" id="username" name="username"
                            [(ngModel)]="username" placeholder="Enter username" required autofocus>
                    </div>
                    <label for="exampleInputPassword1">Password</label>
                    <div class="form-group d-flex align-items-center">
                        <input type={{type}} style="margin-right: 5px;" [(ngModel)]="password" NgModel
                            class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
                            required>
                        <fa-icon [icon]="faEyeIcon" style="cursor: pointer;" (click)="ShowPassword()"></fa-icon>
                    </div>
                    <div class="forgot_password">
                        <a href="/">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn btn-log btn-primary">Login</button>
                </form>
                <div class="registration">
                    <a routerLink="/registration">Sign up</a>
                </div>
            </div>
        </ng-template>


        <nav class="nav">
            <a class="nav_link" routerLink="/hotels">HOTELE</a>
            <a class="nav_link" href="/">DZIAŁANIA W MEMORIES PALACE</a>
            <a class="nav_link" href="/">Nasze oferty</a>
            <a class="nav_link" href="/">COŚ O NAS</a>
        </nav>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="displayBurgerMenu == true" (overlayOutsideClick)="displayBurgerMenu = false"
            [cdkConnectedOverlayOffsetY]="0" [cdkConnectedOverlayOffsetX]="100">
            <nav class="burger_menu">
                <a class="nav_link" routerLink="/hotels">HOTELE</a>
                <a class="nav_link" href="/">DZIAŁANIA W MEMORIES PALACE</a>
                <a class="nav_link" href="/">Nasze oferty</a>
                <a class="nav_link" href="/">COŚ O NAS</a>
                <button class="logIn" (click)="DisplayOverlay()" cdkOverlayOrigin #trigger='cdkOverlayOrigin'
                    [disabled]="AuthorizeUser">
                    Zaloguj się
                </button>
            </nav>
        </ng-template>

        <nav class="navbar navbar-dark bg-transparent">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" (click)="DisplayBurgerMenu()">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>


        <div class="raw">
            <div class="col-md-12">
                <button ejs-button class="btn btn-light btn-user" (click)="DisplayOverlay()" type="button"
                    cdkOverlayOrigin #trigger='cdkOverlayOrigin' [disabled]="AuthorizeUser">
                    <img class="header_icon" src="/assets/Icons/user-32.png" alt="User-avatar">
                </button>
            </div>
        </div>

        <div class="raw">
            <div class="col-md-12">
                <button ejs-button class="btn btn-light btn-cabinet" (click)="DisplayCabinetOverlay()" type="button"
                    cdkOverlayOrigin #trigger='cdkOverlayOrigin' [disabled]="!AuthorizeUser">
                    <img class="header_icon" src="/assets/Icons/guest-16.png" alt="User-avatar">
                    Mój profil
                </button>
            </div>
        </div>
        <button type="button" class="btn btn-light btn-follow">
            Obserwuj nas
        </button>
    </div>
</header>