<div class="employeeHome">
    <div class="col-md-3 emloyeeNav">
        <div class="employeeNav_header">
            <h1 class="employeeNav_header_title">Employee panel</h1>
        </div>
        <nav class="employeeNav_content">
            <a class="nav_link" routerLink="/employeepanel"><fa-icon [icon]="faHomeIcon"></fa-icon> Home</a>
            <a class="nav_link" routerLink="/employeepanel/rooms"><fa-icon [icon]="faDoorIcon"></fa-icon> Pokoje</a>
            <a class="nav_link" routerLink="/employeepanel/payments"><fa-icon [icon]="faDoorIcon"></fa-icon>
                Płatności</a>
            <a *ngIf="roleValue=='Manager' || roleValue=='Employee'" class="nav_link"
                routerLink="/employeepanel/users"><fa-icon [icon]="faUserIcon"></fa-icon>
                Users</a>
        </nav>
    </div>
    <div class="col-md-9 emloyeeHomePage">
        <div class="employeeHomePage_header">
            <button class="btn btn-secondary" style="padding: 0px">
                <a routerLink="/">
                    <fa-icon [icon]="faHomeIcon"></fa-icon>
                    Strona główna
                </a>
            </button>
            <div class="userInfo" style="text-align: center;padding: 5px 30px 0 0; ">
                <p style="font-size: 18px;">{{nameOfUser}} {{surnameOfUser}}</p>
                <p style="font-size: 20px; color: yellow;">{{roleValue}}</p>
            </div>
        </div>
        <div class="employeeHomePage_content">
            <h2 style="font-size: 18px; margin-left: 10px;">Pracownicy</h2>
        </div>
    </div>
</div>